body{
    background-color: rgb(119, 186, 212);
    color: white;
    font-family: 'Comic Neue', cursive;
 }
 h1
 {
     font-size: 80px;
     line-height: 80px;
     margin-top: 50vh;
     transform: translateY(-80px);
 }