@font-face
{
    font-family: "bloody";
    src: url("../css/blood.otf");
}
.layout
{
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.342); */
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
body
{
    background-image: url("../img/bg_t1.jpg");
    background-size: cover;
    font-family: "bloody";
    color: whitesmoke;
}
.heading h1
{
    color: red;
    font-size: 80px;
}
.container
{
    width: 50vw;
}
.page
{
    display: none;
    background-color: #F2EBDB;
    border-radius: 20px;
    box-shadow: 0 0 14px black;
}
.page p
{
    color: black;
    font-size: 20px;
    padding: 10px;  
    font-family: 'Comic Neue', cursive;
}
.sudoku
{
    width: 60%;
    margin-left: 20%;
}
.input-group
{
    width: 100%;
    font-family: 'Comic Neue', cursive;
    padding-bottom: 20px;
}
#inp
{
    margin-left: 20%;
    width: 50%;
}
#btn
{
    width: 10%;
    background-color: rgb(32, 28, 28);
    color: white;
}